.custom-card-animation{
    transition:transform 0.3s ease-in-out !important;
}

.custom-card-animation:hover {
    transform: scale(1.04) translate(-5px,-5px) !important;
}

.custom-nav-animation{
    transition: transform 0.3s ease-in-out  !important;
}
.custom-nav-animation:hover{
    transform:  translate(3px,-3px) !important;
}

.custom-dropDown{
    transition: transform 0.3s ease-in-out !important;
}
.custom-dropDown:hover{
    transform: translate(3px,3px) !important;
}

.custom-card-info{
    position: absolute;
    top: 14%;
    /* height: 58%; */
    height: 15rem;
    background-color: #0b0b0b7a;
    text-align: center;
    color: white;
    padding-top: 6rem;
    /* z-index: 2; */
}
